@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0; padding: 0;}
body{
    font-family: 'S-CoreDream-4Regular';
    font-size: 18px;
    line-height: 28px;
    color: #333;
    position: relative;
}

ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
h1{
text-align: center;
font-size: 36px;
font-family: 'S-CoreDream-5Medium';
}

/*헤더*/
#header{
    height: 130px;
}

.header_inner{
    position: relative;
    width: 1320px;
    margin: 30px auto;
}

.header_inner img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
}

.header_inner ul{
    font-family:'S-CoreDream-3Light';
    float: right;
    font-size: 16px;
}
.header_inner li{
    float: left;
}

.li1{
    margin-right: 60px;
}

.li2{
    margin-right: 60px;
}

.li3{
    margin-right: 60px;
}

.header_inner li a:hover{
font-weight: bold;
}
/*헤더*/

/*네비*/
#nav{
    height: 60px;
}

.nav_inner{
    width: 1320px;
    margin: auto;
    position: relative;
}

.nav{
    width: 853.77px;    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'S-CoreDream-4Regular';
    font-size: 18px;
}

.nav> li{
    float: left;
    position: relative;/*서브메뉴의 기준*/
}


.nav> li> a{
    display: block;
    padding: 15px 30px;
}
.nav> li:hover> a{
border-bottom: 3px solid #7da2df;
}

.margin{
    margin-right: 80px;
}
/*네비*/



/*서브메뉴 꾸미기*/
.sub li a{
    display: block;
    padding: 15px 0;/*좌우여백은 안 넣는다!*/
    text-align: center;
    background-color: #fafafa;
    border-bottom: 1px solid #e7e7e7;
    font-size: 16px;
    font-family: 'S-CoreDream-3Light';
}
.sub li a:hover{
    background-color: #ccc;
}

/*서브메뉴 띄우기, 없애기*/
.sub{
    position: absolute;
    width: 100%;/*nav li만큼 커짐.*/
    display: none;/*서브메뉴 없애기*/
}

/*nav li마우스를 올렸을 때 서브메뉴 나타나기*/
.nav li:hover .sub{
    display: block;
}


/*배너*/
.banner img{
    width: 100%;
}
/*배너*/

/*메뉴*/

#menu{
    margin-top: 260px;
    height: 60px;
}
.menu_inner{
    width: 1000px;
    margin: auto;
}

.limargin{
    margin-right: 30px;
}

.menu_inner ul{
    margin-bottom: 120px;
    margin-left: 165px;
}
.menu_inner li{
    float: left;
}

.menu_inner li a{
    padding: 5px 15px;
    border-radius: 30px;
    border: 1px #7ebddd solid;
    transition: all 0.3s;
    display: inline-block;
    color: #333;
    box-shadow: 3px 3px #4e768a;
}


.menu_inner li a:hover{
    background-color: #7ebddd;
    transform: translate(10px, 10px);
    box-shadow: 0px 0px #4e768a;
}
/*메뉴*/

/*컨텐츠*/

.content_inner{
    width: 1000px;
    margin: auto;
}

h2{
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
}

.gray{
    border-radius: 5px;
    background-color: #e7e7e7;
    text-align: right;
}

.gray input{
    margin: 10px 20px 10px 5px;
padding: 10px 15px;
}

input::placeholder{
    color:#a2a2a2;
    font-size: 14px;
    font-family: 'S-CoreDream-2ExtraLight';
}

.button input[type="button"]{
    background-color: #666;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: 'S-CoreDream-5Medium';
}

.button{
    float: right;
    transition: all 0.2s;
}

.button input:hover{
    background-color: #333;
    transform: translate(0.2px, 0.2px);
}


/*컨텐츠*/

/*테이블*/
.table_inner{
    width:900px;
    margin: auto;
}

#table{
    border-collapse: collapse;
    margin-top:20px;
    height: 600px;
}
td{
    font-size: 12px;
    font-family: 'S-CoreDream-3Light';
    border-bottom: 1px #ccc solid;
    padding: 7px 25px;
}
th{
    text-align: center;
    border-top: 1.7px solid #333;
    border-bottom: 1.7px solid #333;
    padding: 7px 25px;
}

.underline:hover{
    text-decoration: underline;
}
.center{
    text-align: center;
}

.underline{
    width: 500px;
}

.width{
    width: 530px;
}
/*테이블*/

/*숫자*/
.page{
    width: 900px;
    text-align: center;
    font-size: 12px;
    font-family: 'S-CoreDream-2ExtraLight';
    word-spacing: 20px;
    padding: 10px 0px 0 0;
}

.page a:hover{
        text-decoration: underline;
}

.next{
    position: absolute;
    right:44.5%;
    padding-top: 4.5px;
}
/*숫자*/



/*푸터*/
#footer{
    height: 260px;
    background: url(../images/footer.jpg) no-repeat center;
}

.footer_inner{
    width: 1080px;
    margin: auto;
    position: relative;
}

.footer{
    padding: 30px 0;
    font-size: 16px;
    font-family: 'S-CoreDream-5Medium';
    margin-bottom: 40px;
}

.footer li{
    float: left;
}
.footer li a{
    color:rgba(255, 255, 255, 0.7);
}

.footer li a:hover{
color: #fff;
}

.space{
    margin-right: 100px;
}

.footer2{
position: absolute;
right: 3px;
top: 75px;
}

.footer3{
  position: absolute;
  right: 0;
  top: 160px;
}

.footer3 li{
    float: left;
    margin-left: 10px;
    opacity: 0.7;
}

.footer3 li:hover{
    opacity: 1;
}

.footer_inner p{
    font-size: 12px;
    line-height: 24px;
    clear: both;
    color: #fff;
}
/*푸터*/