@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0; padding: 0;}
body{
    font-family: 'S-CoreDream-4Regular';
    font-size: 18px;
    line-height: 28px;
    color: #333;
    position: relative;
}

ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
h1{
text-align: center;
font-size: 36px;
font-family: 'S-CoreDream-5Medium';
}

/*헤더*/
#header{
    height: 130px;
}

.header_inner{
    position: relative;
    width: 1320px;
    margin: 30px auto;
}

.header_inner img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
}

.header_inner ul{
    font-family:'S-CoreDream-3Light';
    float: right;
    font-size: 16px;
}
.header_inner li{
    float: left;
}

.li1{
    margin-right: 60px;
}

.li2{
    margin-right: 60px;
}

.li3{
    margin-right: 60px;
}

.header_inner li a:hover{
font-weight: bold;
}
/*헤더*/

/*네비*/
#nav{
    height: 60px;
}

.nav_inner{
    width: 1320px;
    margin: auto;
    position: relative;
}

.nav{
    width: 853.77px;    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'S-CoreDream-4Regular';
    font-size: 18px;
}

.nav> li{
    float: left;
    position: relative;/*서브메뉴의 기준*/
}


.nav> li> a{
    display: block;
    padding: 15px 30px;
}
.nav> li:hover> a{
border-bottom: 3px solid #7da2df;
}

.margin{
    margin-right: 80px;
}
/*네비*/



/*서브메뉴 꾸미기*/
.sub li a{
    display: block;
    padding: 15px 0;/*좌우여백은 안 넣는다!*/
    text-align: center;
    background-color: #fafafa;
    border-bottom: 1px solid #e7e7e7;
    font-size: 16px;
    font-family: 'S-CoreDream-3Light';
}
.sub li a:hover{
    background-color: #ccc;
}

/*서브메뉴 띄우기, 없애기*/
.sub{
    position: absolute;
    width: 100%;/*nav li만큼 커짐.*/
    display: none;/*서브메뉴 없애기*/
}

/*nav li마우스를 올렸을 때 서브메뉴 나타나기*/
.nav li:hover .sub{
    display: block;
}


/*배너*/

#banner{
    height: 400px;
    background: url(../images/eventmainbanner.jpg) no-repeat center;
}

.banner_inner{
    width: 900px;
    margin: auto;
}

.banner_inner .p1 a{
    display: block;
    padding:130px 0 40px 0;
    font-size: 30px;
    color: #7da2df;
    font-family: 'S-CoreDream-6Bold';
}

.banner_inner .p2 a{
    font-size: 30px;
    font-family: 'S-CoreDream-5Medium';
    line-height: 40px
}
/*배너*/

/*백그라운드 컬러*/
#backgroundcolor{
    margin: 200px auto;
    background-color: #f0ebd6;
    border-radius: 30px;
    width: 1000px;
    height: 3150px;
}
/*백그라운드 컬러*/

/*장소*/
.place_inner{
width: 850px;
margin: auto;
}

.place_inner a{
    display: block;
    padding: 150px 0 30px 0;
}

.place_inner p{
    text-align: center;
}

.place_inner .p1{
    font-size: 24px;
    font-family: 'S-CoreDream-5Medium';
    padding-bottom: 10px;
    padding-top: 20px;
}
/*장소*/

/*일시*/
.date_inner{
    width: 850px;
    margin: auto;
}

.date_inner> a{
    display: block;
    padding: 150px 0 30px 0;
}
.date_inner p{
    text-align: center;
}
.date_inner .p1{
    font-size: 30px;
    padding-top: 20px;
}
.dateul{
    text-align: center;
    margin-bottom:150px;
}

.dateul .li1{
    float: left;
    font-size: 24px;
    word-spacing: 20px;
    border-radius: 10px;
    border: 5px solid #7da2df;
    background-color: #fff;
    padding: 20px 20px;
    margin: 40px 0 0 130px;
}

.dateul .li2{
    float: left;
    font-size: 24px;
    word-spacing: 20px;
    border-radius: 10px;
    border: 5px solid #7da2df;
    background-color: #fff;
    padding: 20px 20px;
    margin: 40px 0 0 30px;
}

.dateul li a{
    text-align: center;
}

.gray{
    color: #ccc;
}
.blue{
    color: #7da2df;
}
/*일시*/

/*시연내용*/
#content{
    height: 500px;
}
.content_inner{
    width: 850px;
    margin:auto;
    margin-top: 150px;
    position: relative;
}

.blueball1, .blueball2, .blueball3{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top: -23px;
}


.contentul{
    width: 780px;
    margin: 100px auto;
}
.contentul> li{
    float: left;
    border-radius: 20px;
    border: 4px solid #7da2df;
    background-color: #fff;
    height: 190px;
    width: 150px;
    position: relative;
    margin: 0 51px;
}



.contentli1  a img{
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

.contentli2 a img{
    position: absolute;
    left: 42%;
    top: 35px;
    transform: translateX(-40%);
}

.contentli3 a img{
    position: absolute;
    left: 45%;
    top: 55px;
    transform: translateX(-45%);
}


.gradient1 li{
    width: 150px;
    height: 3px;
    list-style: none;
    float: left;
    background:/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,7da2df+50,ffffff+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #7da2df 50%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#7da2df 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffffff 0%,#7da2df 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    margin-top: 120px;
    margin-bottom:18px
}

.contentli1{
    text-align: center;
    font-size: 18px;
    word-spacing: 1px;
    font-family: 'S-CoreDream-5Medium';
}

.contentli2{
    text-align: center;
    font-size: 18px;
    word-spacing: 1px;
    font-family: 'S-CoreDream-5Medium';
}

.contentli3{
    text-align: center;
    font-size: 18px;
    word-spacing: 1px;
    font-family: 'S-CoreDream-5Medium';
}
/*시연내용*/

/*시연제품*/
#things{
    height: 650px;
}

.things_inner{
    width: 850px;
    margin: auto;
}

.things_inner img:nth-child(2){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top:80px;
}

.things_inner p{
    text-align: center;
}


.things_inner .p1{
    border-top: #333 1.7px solid;
    width: 650px;
    margin-top:350px;
    padding-top: 20px;
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.things_inner .p2{
    margin-top: 430px;
}
/*시연제품*/

/*사은품*/
#gift{
    height: 480px;
}
.gift_inner{
    width: 850px;
    margin: auto;
    position: relative;
}

.gift_inner h2{
    color: #7da2df;
    text-align: center;
    line-height: 36px;
    margin-top: 60px;
    margin-bottom: 80px;
}

.image2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/*사은품*/

/*유의사항*/
.caution_inner{
    width: 850px;
    margin: auto;
}

.caution_inner p{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    font-family: 'S-CoreDream-5Medium';
}

.caution_inner span{
    color: #7da2df;
}
/*유의사항*/

/*푸터*/
#footer{
    height: 260px;
    background: url(../images/footer.jpg) no-repeat center;
}

.footer_inner{
    width: 1080px;
    margin: auto;
    position: relative;
}

.footer{
    padding: 30px 0;
    font-size: 16px;
    font-family: 'S-CoreDream-5Medium';
    margin-bottom: 40px;
}

.footer li{
    float: left;
}
.footer li a{
    color:rgba(255, 255, 255, 0.7);
}

.footer li a:hover{
color: #fff;
}

.space{
    margin-right: 100px;
}

.footer2{
position: absolute;
right: 3px;
top: 75px;
}

.footer3{
  position: absolute;
  right: 0;
  top: 160px;
}

.footer3 li{
    float: left;
    margin-left: 10px;
    opacity: 0.7;
}

.footer3 li:hover{
    opacity: 1;
}

.footer_inner p{
    font-size: 12px;
    line-height: 24px;
    clear: both;
    color: #fff;
}
/*푸터*/